@charset  "utf8";

.Image_Fixed{
    position: fixed;
    text-align: center;
    overflow-y: hidden;
}

#juls{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-top: .9em;
}

#julsBar{
    float: right;
    display: flex;
    margin-top: 0.5em;
    height: 95vh;
    width: 75%;
    background-color: rgba(255, 255, 255, 0.823);
    display: inline-block;
}

@media screen and (max-width: 1600px){
   
    #julsBar{
        width: 86%;
    } 

    #mainViewInfo{
        width: 86%;
        margin-top: -14vw;
    }
    #left{
        height: 34vw;
    }
    #right{
        height: 34vw; 
        font-size: 1vw; 
    }
}


#julsBar svg{
    position: fixed;
    margin-left:-43vw;
    color: #fff;
    border: 1px solid #fff;
    padding: 4px;
    border-radius:5px;
    transition: all .9s;
    cursor: pointer;
}

#btnplus{
    margin-top:50px;
}

#btnmin{
    margin-top:50px;
    display: none;
}

#julsBar svg:hover{
    border: 1px solid #000;
    color: #000;
}

#julsBarBtn{
    padding-top: 10px;
    float: left;
    margin-top: -100%;
    right: 160px;
    display: flex;
    justify-content: center;
    position: fixed;
    text-align: center;
    width: 6vw;
    background-image: linear-gradient(to bottom, rgba(0, 0, 255, 0.409), rgba(0, 0, 0, 0.418)); 
    height: 38vw;
    color:#fff;
    border-right: 2px solid #fff;
    font-size: .8vw;
    align-content: space-between;
    z-index: 999;
}

@media screen and (max-width: 1600px) {
    #julsBarBtn{
        right: 0vw;
    }
    
}


.ul-btn{
    text-align: center;
}

#julsBarBtn li{
    width: 100%;
    margin-bottom:4em ;
    transition: all 0.2s;
    color: #fff;

    border-radius: 5px;
}

#julsBarBtn li:hover{
    /*background-color: rgba(0, 255, 255, 0.500);*/
    text-align: center;
    transform: scale(1.1)
}


#julsBarBtn a{
    margin: auto;
    display: block;
    padding: 8px 2px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

#julsBarBtn a:hover{
    border-radius: 5px;
}

#mainView{
    
    width: 100%;
    text-align: center;
}

#mainView img{
    width: 100%;
    z-index: 2;
    
    
}

.escola{
    position: absolute;
    margin: auto;
    margin-top: -2.5em;
    z-index: 0;
    width: 75%;
}


#mainViewInfo > div.info-leftRigth{
    box-shadow: 1px 1px 3px;
    background-color: #fff;
    display: inline-block;
    margin-top: .2em;
    border-radius: 5px;
    padding: 5px;

}

#left{
    width: 55%;
    margin-right: .6em;
    overflow: hidden;
}


#right{
    width: 30%;
    margin-left: .6em;
    overflow: hidden;
}
#mainViewInfo > div > span.span-view{
    font-size: 4vw;
}

#mainViewInfo p.general-p{
    text-align: justify;
    font-size: 1.3vw;
    padding:0em 1.5em;
    font-weight: 700;
    font-family: 'Bad Script', cursive;
    font-family: 'Josefin Slab', serif;
    color: #069f88;
    line-height: 1.5;
    font-style: italic;
}

#mainViewInfo > div > p > span{
    display: inline-block;
    margin-top:1.2em;
    margin-bottom:1.2em;
    font-family: cursive;
    font-weight: 100;
    font-size: 1vw;
    box-shadow: 1px 1px 5px #372297;
    padding: 0px .5em;
    border-radius: 5px;
    margin-left: 1em;
    cursor: default;
    color: rgb(4, 156, 115);
}

#mainViewInfo > div > p > span img.menor{
    width: 1vw;
    margin-bottom: -3px;
}

img#maior{
    width: 1vw;
}

#mainViewInfo p.tag{
    display: inline-block;
    padding: .3em 1em;
    font-family: cursive;
    margin-bottom: .5em;
    font-size: 1vw;
    border-radius: 20px;
    border-bottom: 2px solid #372297;
    transition: all .5s;
    cursor:default;
    color: rgb(4, 156, 115);
}

#mainViewInfo p.tag:hover{
    background-color: #3722971d;
}

#divLogo{
    border-top: 2px solid rgb(187, 187, 5);
    border-bottom: 2px solid rgb(187, 187, 5);
}

img#logo{
    width: 12vw;

}



/*Configuração de ABA  de order*/

.span-order{
    font-size: 2vw;
}
p.dataTime{
    margin-top: .5em;
    display: flex;
    justify-content: space-between;
}

p.dataTime > span{
    border-bottom:  2px solid rgba(255, 0, 0, 0.500);
    background-color: #08d2b43c;
    padding: .3em 2em;
    border-radius: 8px;
}

img#svgData{
    width: .8vw;
}
img#svgHora{
    width: .8vw;
}

p.dataTime > span > output{
    border: none;
    outline: none;
    background-color: #00000000;
    font-size: 1vw;
    color:red;
}

p.typ-Order{
    display: flex;
    margin-top: 1em;
    justify-content: space-around;
    background-color: #08d2b43c;
    padding: .5em ;
    font-size: .9vw;
    color: rgba(0, 0, 0, 0.600);
}

p.food-selection{
    background-color: #08d2b43c;
    font-size: .8vw;
}

p.food-selection input{
    font-size: .8vw;
    display: none;
    width: 95%;
    padding: .5em;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 2px solid rgba(255, 0, 0, 0.35);
    outline: none;
    color:rgba(0, 0, 0, 0.600);
}
p.food-selection label{
    display: none;
}

p.food-selection select{
    width: 99%;
    background-color: #08d2b43c;
    border: none;
    outline: none;
    box-shadow: 2px 2px 4px rgba(255, 0, 0, 0.500);
    margin: .5em 0em;
    display: none;
    padding: .5em;
    font-size: .8vw;
    color:rgba(0, 0, 0, 0.600);
}

.contact-info{
    margin-top: .8vw;
}

.contact-info label{
    display: none;
}

.contact-info input{
    width: 94%;
    padding: .5em;
    border: none;
    border-bottom: 2px solid rgba(255, 0, 0, 0.353);
    outline: none;
    transition: all .5s;
    font-size: .8vw;
}

.Qty, .bQty{
    display: flex;
    margin-top: .8vw;
    justify-content: space-between;
    padding: .3em .8em;
    background-color:#08d2b42a ;
    box-shadow: 2px 2px 4px rgba(255, 0, 0, 0.500);
}

.Qty span.valor, .bQty span.valor{
    border-bottom: 1px solid rgba(0, 0, 0, 0.500);
    border-top: 1px solid rgba(0, 0, 0, 0.500);
    border-radius: 15px;
    font-size: 1vw;
}

.Qty button, .bQty button{
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    font-weight: bolder;
    font-size: .9vw;
    border: none;
    background-color: #fff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.699);
    transition: all .5s;
}

.bQty label, .Qty label{
    color: rgba(0, 0, 0, 0.600);
    font-family: cursive;
    font-size: .9vw;
}


.Qty button:hover, .bQty button:hover{
    box-shadow: 1px 1px 7px red;
}

.Qty input, .bQty input{
    width: 50px;
    text-align: center;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: .7vw;
}

.contact-info input:hover{
    background-color: #08d2b42a;
    border-radius: 5px;
}

#submit input{
    padding:.2em .5em;
    margin-top: 2em;
    width: 65%;
    border-radius: 5em;
    background-color: rgba(255, 0, 0, 0.353);
    transition: all .5s;
    cursor: pointer;
    border: 2px solid #08d2b49b;
    font-family: cursive;
    font-size: 1.1vw;
}
#submit input:hover{
    background-color: #08d2b43c;
    border: 2px solid rgba(255, 0, 0, 0.585);
}

/*-------------------------------Estilização da ABA photos*-------------------------------------------------------------*/
#photosMain{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1vw;
    height: 100vh;
    
}

Div#photo{
    width: 75%;
    height: 98vh;
    background-image:linear-gradient(to right, #000, blue, #000) ;
    overflow: hidden;
}

@media screen and (max-width: 1600px) {
    Div#photo{
        width: 86%;
    }
}


.conteiner{
    display: flex;
    flex-wrap: wrap;
    padding: 3em;
    gap: 1em;
    justify-content: center;
}

.conteiner p{
    width: 15%;
    background-color: #069f88;
    border: 1px solid #fff;
    overflow: hidden;
}

.conteiner p img{
    width: 95%;
    height: auto;
    transition: all .5s;
}

.conteiner p img:hover{
    transform: scale(1.5);
}

#photoShowMainFrame{
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: -2em;
    width: 75%;
    background-color: rgba(255, 255, 255, 0.800);
    color:#fff ;
    height: 100vh;
    z-index: 0;
}

#photoShow{
    width: 40%;
    background-color: #fff;
    height: 70vh;
    overflow: hidden;
    border-radius: 5px;
}

#photoShow span{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:8vw;
    margin-left: 1em;
    background-color: #000000b0;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    transition: all .5s;
    border: 2px solid rgba(255, 0, 0, 0);
    cursor: pointer;
}

#photoShow span:hover{
    border: 2px solid red;
}

#photoShow img{
    width: 100%;
    height: 100%;
}