@charset "utf8";
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}
body{
    width: 100%;
}

.Image_Fixed{
    background-color:black;
    background-image: url('../Images/Restaurante-2.jpg');
    background-repeat: no-repeat;
    background-position: 60% 40%;
    background-size:cover;
    width:100%;
    height: 100vh;
    background-attachment: fixed;
}
.Image_Fixed > article{
    background-color: black;
    opacity: 0.7;
    color:white;
    position: fixed;
    width: 100%;
    font-family: cursive;
    padding-left: 1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content:end;
    justify-items:center;
    gap: 250px;

}


.Image_Fixed > article > p{
    color:#08808a;
    box-sizing: border-box;
    transition: .9s;
    cursor: pointer;
    border: 1px solid rgba(255, 0, 0, 0) ;
    width: 6.5vw;
    margin-top: 6px;
    padding-top:13px;
    padding-bottom:5px;
    height: 38px;
    text-align: center;
    overflow: hidden;
}

.Image_Fixed > article > p:hover{
    border: 1px solid rgba(251, 255, 0, 0.568) ;
}

.Image_Fixed > article > p > img{
    width: 19.5px;
    position: absolute;
    display: block;
    margin-top: -13px;
    margin-left: 2em;
}

.Image_Fixed > article > h1{
    font-family: 'lobster';
    font-size:2.6vw ;
    display: block;
    width: 21vw;
    text-align: center;

}

.Image_Fixed > article > img{
    margin-top: 5px;
    width: 37.5px;
    height: 27.6px;
    transition: .9s;
    cursor: pointer;
    border: 1px solid rgba(251, 255, 0, 0) ;
    padding: 3px 15px;
}

.Image_Fixed > article > img:hover{
    border: 1px solid rgba(251, 255, 0, 0.568) ;
}

.Image_Fixed-2{
    background-color:black;
    background-image: url('../Images/Flile_de_Frango.jpg');
    background-repeat: no-repeat;
    background-position: 60% 40%;
    background-size:cover;
    width:100%;
    height: 100vh;
    background-attachment: fixed;
}

div.Event_content{
    width: 100%;
    padding: 1em;
    text-align: justify;
}

.Event_content  > h1{
    text-align: center;
    letter-spacing: 0.5em;
    font-size: 256%;
    border-bottom: 1px solid rgb(223, 217, 217);
    width: 60vw;
    margin: auto;
    margin-bottom: .8em;
}

.Paragraph_image{
    background-image:url('../Images/vista-frontal-de-garrafas-de-vinho-com-taca-de-vinho-na-superficie-escura.jpg') ;
    width: 55vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    display:inline-block;
    float: right;
}


p.service{
    
    width: 80%;
    margin: auto;
    font-size: 13pt;
    margin-bottom: 2em;
    color:rgba(44, 43, 43, 0.76);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    text-align: center;
    
}

@media(max-width: 1200px){
    p.service{
        grid-template-columns:repeat(2,1fr) ;
    }
}

@media(max-width: 600px){
    p.service{
        grid-template-columns:repeat(1,1fr) ;
        width: 100vw;
    }
}

@media(max-width:600){
    #Container{
        display: none;
    }
}

.service-intro{
    margin: auto;
}

.Event_content > article.service-intro > h2{
    margin-left: 3em;
    border-bottom: 2px solid black;
    width: 14em;
    color:#088080;
}

.service-intro > p{
    width: 80%;
    margin:auto ;
    line-height: 1.6em;
    font-family: cursive;
    font-size: large;
    letter-spacing: .1em;
    color: #088080;
}

span.catering{
    display:block;
    width: 90%;
    font-family: 'Exo 2', sans-serif;
    cursor: pointer;
    height: 15em;
    padding: .2em;
    overflow: hidden;
    position: relative;
    background-color:#686565;
    margin: 1em;
    align-items: center;
    line-height: 50,50;
    border-radius: 1em;
    
    
}
span.catering-foto img{
    text-align: center;
    width: 290px;
    height: 200px;
    text-align: center;
    margin: auto;
    transition: 2s ease;
    border: 2px solid #088080;
    display: block;
}

.catering-text{
    display:table;
    width: 290px;
    height: 0px;
    opacity: 0;
    text-align: left;
    margin: auto;
    color: rgb(235, 203, 25);
    font-size: 0px;
    padding: .3em;
    line-height: 1.5em;
}



span.h3{
    font-weight: bolder;
    font-family: 'Ephesis', cursive;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 2em;
    color: black;
    transition: .3s;
}

/*Entrada de configuração para serviços de Delivery*/

span.delivery{
    display:block;
    width: 90%;
    font-family: 'Exo 2', sans-serif;
    cursor: pointer;
    height: 15em;
    padding: .2em;
    overflow: hidden;
    position: relative;
    background-color:#686565;
    margin: 1em;
    align-items: center;
    line-height: 50,50;
    border-radius: 1em;
}

.delivery-text{
    display:table;
    width: 290px;
    height: 0px;
    opacity: 0;
    text-align: left;
    margin: auto;
    color: rgb(235, 203, 25);
    font-size: 0px;
    padding: .3em;
    line-height: 1.5em;
}

.delivery-foto img{
    text-align: center;
    width: 290px;
    height: 200px;
    text-align: center;
    margin: auto;
    transition: 2s ease;
    border: 2px solid #088080;
    display: block;
}

.beverages{
    width: 40vw;
    text-align: justify;
    display: inline-block;
    float: left;
    padding-left: 1em;
    color: brown;
}
.beverages > strong#champane{
    font-size: 25pt;
    margin-bottom: 6em;
    margin: auto;
    display: inline-block;
    width: 40vw;
    text-align: center;
    font-family: cursive;
}


