@charset  "utf8";

.Image_Fixed{
    position: fixed;
    text-align: center;
    overflow-y: hidden;
}

#cartIcon{
    opacity: 1;
    visibility: visible;
}

.cartList{
    background-color: red;
    height: 2em;
    width: 10em;
    color:#fff;
    position: absolute;
}


#juls{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-top: 1.5em;
}

#julsBar{
    float: right;
    display: flex;
    margin-top: 0.5em;
    height: 100vh;
    width: 75%;
    background-color: rgba(255, 255, 255, 0.823);
    display: inline-block;
}


@media screen and (max-width: 1600px){
    #julsBar{
        width: 86%;
    } 

}


#julsBar svg{
    top: 3.5em;
    position: fixed;
    margin-left:-46vw;
    color: #fff;
    border: 1px solid #fff;
    padding: 4px;
    border-radius:5px;
    transition: all .9s;
    cursor: pointer;
}

#btnplus{
    margin-top:50px;
}

#btnmin{
    margin-top:50px;
    display: none;
}

#julsBar svg:hover{
    border: 1px solid #000;
    color: #000;
}

#julsBarBtn{
    padding-top: 10px;
    margin-top: -100%;
    display: flex;
    justify-content: center;
    position: fixed;
    left: 117.5em;
    text-align: center;
    width: 6vw;
    background-image: linear-gradient(to bottom, rgba(0, 0, 255, 0.6), rgba(0, 0, 0, 0.6)); 
    height: 38vw;
    color:#fff;
    border-right: 2px solid #fff;
    font-size: .8vw;
    align-content: space-between;
}

@media screen and (max-width: 1600px) {
    #julsBarBtn{
        right: 10em;
    }
    
}


.ul-btn{
    text-align: center;
}

#julsBarBtn li{
    width: 100%;
    margin-bottom:4em ;
    transition: all 0.2s;
    color: #fff;

    border-radius: 5px;
}

#julsBarBtn li:hover{
    /*background-color: rgba(0, 255, 255, 0.500);*/
    text-align: center;
    transform: scale(1.1)
}


#julsBarBtn a{
    margin: auto;
    display: block;
    padding: 8px 2px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

#julsBarBtn a:hover{
    border-radius: 5px;
}

/*Configuração de slides*/
.slideshow-container {
    position: relative;
    max-width: 100%;
    height: 70vh;
    overflow: hidden;
    background-color: #333;
  }

.slide {
    display: none;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .slide span{
    position: absolute;
    font-size: 3em;
    color: #fff;
    background-color:rgba(0,0,0,.7);
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fontIncrease 2s infinite alternate;
  }

  @keyframes fontIncrease{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1); 
    }
  }

  .slide img{
    width: 100%;
  }

  /*Estilizando Description Area*/
  .descript-main{
    display: flex;
    justify-content: center;
    gap:1em;
    padding: 0 2em;
    margin-bottom: 0;
  }
  .descript{
    width: 65%;
    padding: 0 1em 5em 1em;
    text-align: left;
    font-size: 1.1em;
  }

  .descript-main ul{
    border-top: 1px solid rgba(0, 128, 0, 0.363);
    border-bottom: 2px solid black;
    margin-bottom: 0em;
    display: flex;
    justify-content: center;
    
  }

  .desc-line li{
    display: inline-block;
    margin-right: 2em;
    margin-bottom: .5em;
    cursor: pointer;
    transition: .5s;
    font-size: 1.2em;
    font-family: cursive;
    color:#07356b;
  }

  .desc-line li:hover{
    color: red;
  }

  .desc-line > p{
    letter-spacing: .2em;
    line-height: 1.9em;
    text-align: justify;
  }

  .table-book{
    width: 38%;
    box-shadow: 0px 0px 3px green;
    padding: 1em;
    height: 50vh;
    margin-top: .2em;
    margin-bottom: 0em;
    transition: .4s;
  }

  .table-book:hover{
    box-shadow: 0px 0px 10px green;
  }

  .table-book > p{
    border-bottom: 2px solid black;
    padding-bottom: .5em;
    font-family: cursive;
    font-size: 1.2em;
    margin-bottom: 1em;
    margin-top: -.6em; 
}

.table-book > form > div.book-type, .people{
    display: flex;
    gap:.2em;
    color:rgb(3, 46, 95);
    font-size: 1.8em;

}

.table-book > form > div > select{
    width: 100%;
    padding: .3em;
    color:#fff;
    background-color: transparent;
    border: none;
    outline: none;
    background-color: rgba(3, 46, 95, 0.76);
}

.table-book > form > div.dateTime{
    display: flex;
    gap: 1em;

}

.table-book > form > div > div.book-date, div.book-time, .email, .number{
    display: flex;
    align-items: center;
    width: 50%;
    margin-top: .5em;
    margin-bottom: .5em;
    gap: .1em;
    color:rgb(3, 46, 95);
    font-size: 1.8em;
    float: left;
}

.table-book > form > div > div.book-date > input{
    background-color:rgba(3, 46, 95, 0.76);
    color: #fff;
    padding: .3em;
    border: none;
    width: 75%;
}

.table-book > form > div > div.book-time > input{
    background-color:rgba(3, 46, 95, 0.76);
    color: #fff;
    padding: .3em;
    border: none;
    width: 75%;
}

.table-book > form > div > div.email > input{
    background-color:rgba(3, 46, 95, 0.76);
    color: #fff;
    padding: .3em;
    border: none;
    width: 75%;
}

/*----------------Estilização da ABA Fotos-----------------------*/
.popular-dishes{
    background-color: #0000003b;
    margin-top: -3em;
    margin-bottom: .5em;
    display: flex;
    padding: 1em;
}

.popular-dishes > div{
    width: 70%;
    display: flex;
    flex-direction: column;
    

}

.popular-dishes > div > p{
    margin: .9em;
    display: flex;
    padding: 1em;
    gap: .6em;
}


.popular-dishes > div > p > span{
    display: inline-block;
    width: 60%;
}

.popular-dishes > div > p > span > img{
    width: 90%;
    height: 90%;
    border-radius: .5em;
    cursor:pointer;
    transition: .4s;

}

.popular-dishes > div > p > span > img:hover{
    transform: scale(1.2);
}

.popular-dishes  .grafico{
    box-shadow: 0px 0px 3px green;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: xx-large;
    width:40%;
    transition: .4s;
}

.popular-dishes  .grafico:hover{
    box-shadow: 0px 0px 10px green;
}


.popular-dishes  .grafico > img{
    width: 100%;
}

.Foodmenu{
    margin-bottom: 7em;
    text-align: left;
    padding: 1.5em;
}

.Foodmenu h2{
    text-align: center;
    color:#07356b;
}

.Foodmenu h3{
    margin-top: 1em;
    color:#07356b;
}

.Foodmenu ul{
    display: block;
}


.Foodmenu ul li{
    display: flex;
    margin-bottom: 0;
    list-style-type: circle !important;
    letter-spacing: .1em;
    padding: 1em 1.5em;
    cursor: pointer;
    transition: .5s;
    color: #00000080;
    justify-content: space-between;
}

.Foodmenu ul li:hover{
    background-color: #ffffff;
    color:#000;
}

.Foodmenu ul li em{
    display: none;
    transition: .5s;
}

.Foodmenu ul li:hover em{
    display: inline;
    transition: .5s;
}




